* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	outline: none;
	text-decoration: none;
	font-family: inherit;
}

body {
	background-color: white;
}

App {
	font-family: arial;
}

main {
	padding: 50px;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 25px;
}

.loading-mask {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: whitesmoke;

	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	gap: 10px;
}

.lds-hourglass {
	display: inline-block;
	position: relative;
	width: 80px;
	height: 80px;
}
.lds-hourglass:after {
	content: " ";
	display: block;
	border-radius: 50%;
	width: 0;
	height: 0;
	margin: 8px;
	box-sizing: border-box;
	border: 32px solid white;
	border-color: rgb(226, 222, 222) transparent rgb(226, 222, 222) transparent;
	animation: lds-hourglass 1.2s infinite;
}
@keyframes lds-hourglass {
	0% {
		transform: rotate(0);
		animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
	}
	50% {
		transform: rotate(900deg);
		animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
	}
	100% {
		transform: rotate(1800deg);
	}
}
/* .loading-mask div {
	height: 150px;
	width: 150px;
	box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
		rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
		rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;

	display: flex;

	justify-content: center;
	align-items: center;
	transform: rotate(45deg);
} */
/* 
.loading-mask .spinner {
	border: 2px solid #aaa;
	border-top-color: black;
	background-color: white;
	border-radius: 100%;

	width: 50px;
	height: 50px;
	-webkit-animation: spin 1s ease-in-out infinite;
	animation: spin 1s ease-in-out infinite;
}

.spinnerDot {
	font-size: 25px;
	display: flex;
	border-radius: 100%;
}

@keyframes spin {
	to {
		transform: rotate(360deg);
	}
} */

.laptopCard {
	background-color: whitesmoke;
	border: 1px solid whitesmoke;
	border-radius: 5px;
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
	min-height: 170;

	width: 300px;
	gap: 15px;
	padding: 10px;

	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	flex-basis: content;
}

.laptopCard2 {
	display: flex;
	flex-direction: column;
	justify-content: center;
	min-height: 70;

	width: 240px;
	background-color: rgb(226, 222, 222);
	padding: 10px;
	border-radius: 2px;
	border: 1px solid rgba(0, 0, 0, 0.05);
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.navish {
	padding: 50px;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 25px;
	width: 500px;
	height: 250px;

	border: 2px solid whitesmoke;
	background-color: whitesmoke;
	border-radius: 100px;
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.sort {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 20px;
	width: 200px;
	background-color: white;
	border: 1px solid black;
	height: 30px;
	font-size: 16px;
}

#sortBtn {
	width: 30px;
}

#detailsBtn {
	width: 100px;
	padding: 2px;
}

#sortBtn,
#detailsBtn:hover {
	cursor: pointer;
	/* background-color: white; */
}

input {
	width: 200px;
	height: 30px;
	border: 1px solid black;
	font-size: 16px;
}
input::placeholder {
	padding: 5px;
}

@media screen and (max-width: 450px) {
	h1 {
		font-size: 20px;
	}
	.navish {
		width: 330px;
		height: 200px;
	}
}
